.bill{
	.bookProgramTitle {
			border-bottom: 2px solid #dee0dc;
			.pb(20);
			position: relative;
			h1{
				.fs(33);
				.mt(30);
				.mb(10);
				.pt(10);
			}
			h2{
				.fs(23);
				color: #888;
				margin: 0;
				.lh(35);
			}
			.btnHour{
				color: #fff;
				background-color: #F08646;
				.pt(5);
				.pb(5);
				.pl(15);
				.pr(15);
				.fs(16);
			}
	}
	.steps{
		h3{
			.mt(20);
			.mb(10);
			.fs(27);
		}
		.paymentWrapper{
			width: 100%;
			article{
				width: 100%;
				.pt(20);
				.pb(20);
				.pl(10);
				.pr(10);
				display: inline-block;
				vertical-align: top;
				max-width: 250px;
				img{
					width: 100%;
   				max-width: 166px;
					vertical-align: middle;
				}
				h3{
					color: #000;
					.fs(18);
				}
				p{
					color: #58595b;
					.fs(16);
					line-height: 1.6em;
				}
			}
		}
	}
	.navGary{
		box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
	    background-color: #fff;
	    border: none;
	   	.container{
	   		 display: flex;
		   	.part{
					 flex: 1;
		    }
	   	}
	}
	.pickoneLogoArea {
	   	padding: 5px;
	    background-color: #F08646;
	    display: inline-block;
	    float: left;
	    text-align: center;
	    line-height: 1;
	    .pickoneLogo {
		   	width: 124px;
		    display: inline-block;
		    img{
		    	display: block;
		    	margin-top: 8px;
			    max-width: 100%;
			    height: auto;
			    vertical-align: middle;
		    }
		}
	}
	.pickoneSlogan {
	    width: 150px;
	    float: left;
	    text-align: center;
	    vertical-align: middle;
	    .mt(17);
	    .fs(12);
	    color: #989696;
	}
}