.bill,.search,.single-place{
	.navGary{
		box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
	    background-color: #fff;
	    border: none;
	   	.container{
	   		 display: flex;
		   	.part{
					 flex: 1;
		    }
	   	}
	}
	.pickoneLogoArea {
	   	padding: 10px;
	    background-color: #F08646;
	    display: inline-block;
	    float: left;
	    text-align: center;
	    line-height: 1;
	    .pickoneLogo {
		   	width: 124px;
		    display: inline-block;
		    img{
		    	display: block;
			    max-width: 100%;
			    height: auto;
			    vertical-align: middle;
		    }
		}
	}
	.pickoneSlogan {
	    width: 150px;
	    float: left;
	    text-align: center;
	    .fs(14);
	    color: #989696;
			line-height: 50px;
			white-space: nowrap;
	}
}

.bill{
	position: relative;
	.pb(200);
	.bookProgramTitle {
			border-bottom: 2px solid #dee0dc;
			.pb(20);
			position: relative;
			h1{
				.fs(33);
				.mt(30);
				.mb(10);
				.pt(10);
			}
			h2{
				.fs(23);
				color: #888;
				margin: 0;
				.lh(35);
			}
			.btnHour{
				color: #fff;
				background-color: #F08646;
				.pt(5);
				.pb(5);
				.pl(15);
				.pr(15);
				.fs(16);
			}
	}
	.steps{
		h3{
			.mt(20);
			.mb(10);
			.fs(27);
		}
		.paymentWrapper{
			width: 100%;
			article{
				width: 100%;
				.pt(20);
				.pb(20);
				.pl(10);
				.pr(10);
				display: inline-block;
				vertical-align: top;
				max-width: 250px;
				img{
					width: 100%;
   				max-width: 166px;
					vertical-align: middle;
				}
				h3{
					color: #000;
					.fs(18);
				}
				p{
					color: #58595b;
					.fs(16);
					line-height: 1.6em;
				}
			}
		}
	}
	.form{
		margin: 0;
    outline: none;
    color: #666;
		fieldset{
			display: block;
			.pt(25);
			.pl(30);
			.pr(30);
			.pb(5);
			border: none;
			background: rgba(255,255,255,.9);
		}
		section{
			.mb(25);
		}
		label{
			display: block;
			.mb(6);
			.lh(19);
			font-weight: 400;
			border-radius: 0;
			font-size: 100%;
			text-align: left;
			white-space: normal;
			color: inherit;
		}
		hr{
			.mt(20);
			.mb(20);
			.ml(0);
			.mr(0);
			border: 0;
    	border-top: 1px solid #eee !important;
		}
		h3{
			.fs(18);
			.mb(12);
		}
		h4{
			.fs(14);
			font-weight: 700;
			.mb(20);
		}
		.priceInfo{
			color: black;
    	.fs(16);
    	font-weight: 400;
    	line-height: 32px;
		}
		.coupon{
			.mt(15);
			.mb(10);
		}
		.input-code{
			width: 100%;
    	min-height: 33px;
			.fs(16);
    	border: #999 1px solid;
			.pl(5);
		}
		#btnCode{
			background-color: #F08646;
    	color: #FFF;
    	border-radius: 2px;
		}
		.total{
			color: #F08646;
		}
		.confirmInfo{
			.mt(20);
			.fs(14);
			.lh(23);
			font-weight: 600;
		}
		.btnSearch{
			.border-radius(18px);
			background-color: #F08646;
    	color: #fff;
		}
	}
}