.bookCalendar{
  .pt(10);
  .pb(10);
  .calendarHeader{
    h4{
      line-height: 1;
      float: left;
      .mt(10);
      .mb(10);
      .fs(30);
      color: #72716d;
      font-weight: bold;
    }
    span{
      .mt(6);
      .ml(6);
      .fs(20);
      float: left;
      vertical-align: baseline;
    }
    ul{
      float:right;
      li{
        display: inline-block;
        letter-spacing: normal;
        text-align: center;
        .ml(3);
        .w(32);
        .h(32);
        background: #eaebe8;
        .lh(32);
        font-size: 108%;
        .border-radius(2px);
        vertical-align: middle;
        a{
          color: #888;
        }
      }
    }
  }
  .monthlyTable{
    width: 100%;
    .week_text th{
      color: #B9B9B9;
      font-weight: 600;
      .fs(18);
      .pb(10);
      text-align: center;
    }
    td{
      color: #bab9b3;
      font-size: 108%;
      margin-bottom: 4px;
      .disabled{
        color: #E9E9E9;
      }
      a{
        position: relative;
        display: block;
        .border-radius(2px);
        margin-right: 2px;
        text-decoration: none;
        text-align: center;
        border: 1px solid #eaebe8;
        color: #000;
        padding: 15px 9px;
        margin-bottom: 5px;
      }
    }
    .selectedDate {
      border: 1px solid #888;
      background-color: #FFAD5C;
    }
  }
}