.transition (@prop: all, @time: 1s, @ease: linear) {
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
	-ms-transition: @prop @time @ease;
	transition: @prop @time @ease;
}

.box-sizing(@prop){
	-webkit-box-sizing: @prop;
    -moz-box-sizing: @prop;
    box-sizing: @prop;
}

.appearance(@prop){
	appearance: @prop;
	-webkit-appearance: @prop;
}
  
.border-radius(@prop){
	-webkit-border-radius: @prop;
    -moz-border-radius: @prop;
    -ms-border-radius: @prop;
    border-radius: @prop;
}

.translate(@x,@y){
	-webkit-transform: translate(@x,@y);
	-moz-transform: translate(@x,@y);
	-o-transform: translate(@x,@y);
	-ms-transform: translate(@x,@y);
	transform: translate(@x,@y);
}

.background-size(@size){
	-moz-background-size: @size;
    -webkit-background-size: @size;
    -o-background-size: @size;
    background-size: @size;
}