@import "mixin.less";
@import "reset.less";
@import "header.less";
@import "homepage.less";
@import "search.less";
@import "place.less";
@import "footer.less";

.fs(@px){
	font-size: unit(@px / 37.5, rem);
}

.w(@px){
	width: unit(@px / 37.5,rem);
}

.mh(@px){
    max-height: unit(@px/37.5,rem);
}

.h(@px){
	height: unit(@px/37.5,rem);
}

.lh(@px){
	line-height: unit(@px / 37.5,rem);
}

/* margin */
.mt(@px){
	margin-top: unit(@px / 37.5, rem);
}

.mb(@px){
	margin-bottom: unit(@px/37.5,rem);
}

.mr(@px){
	margin-right: unit(@px/37.5,rem);
}

.ml(@px){
	margin-left: unit(@px/37.5,rem);
}

/* padding */
.pt(@px){
	padding-top: unit(@px / 37.5, rem);
}

.pb(@px){
	padding-bottom: unit(@px/37.5,rem);
}

.pr(@px){
	padding-right: unit(@px/37.5,rem);
}

.pl(@px){
	padding-left: unit(@px/37.5,rem);
}

.top(@px){
	top: unit(@px/37.5,rem);
}

.left(@px){
	left: unit(@px/37.5,rem);
}

.bottom(@px){
	bottom: unit(@px/37.5,rem);
}

.right(@px){
	right: unit(@px/37.5,rem);
}

/* elements */
.site-content{
	position: absolute;
    .top(66);
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    background: #f1f2f2;
    .transition(all,0.5s,ease-in-out);
}

.sectionWrapper{
	width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    .mt(40);
    .mb(40);
    text-align: center;
    h1{
    	.mt(22);
    	.mb(22);
    	.fs(30);
    }
}

.rule{
	width: 100%;
    border-bottom: #d1d1d1 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
    .mt(40);
    .mb(40);
}

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body{
    font-family: "微軟正黑體","Microsoft Jhenghei","Helvetica Neue","Helvetica",sans-serif,serif;
    line-height: 1.5;
    background-color: #f3f3f3;
    color: #666;
    height: 100%;
    margin-bottom: 280px;
}

h1,h2,h3,h4,h5{
	color: #6d6e71;
}

a{
	text-decoration: none;
}

hr{
	box-sizing: content-box;
    height: 0;
    overflow: visible;
}

form{
	display: block;
	margin-top: 0;
}

img{
	border-style: none;
}

/* common elements style */

*, *:after, *:before {
    box-sizing: border-box;
}

.row{
   .ml(-15);
   .mr(-15);
}

.mT100{
    .mt(100);
}

.mT20{
    .mt(20);
}

.col-xs-12{
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    .pl(15);
    .pr(15);
}

.container{
    margin-right: auto;
    margin-left: auto;
    .pl(15);
    .pr(15);
}

.pull-left {
    float: left!important;
}

.pull-right {
    float: right!important;
}

.clear{
    clear: both;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}

/* navbar */
.navbar-default{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}   
.navbar-fixed-top{
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    min-height: 50px;
    margin-bottom: 20px;
}
.container#mobileNavbarArea{
    text-align: center;
    .navbar-header{
        .mr(-15);
        .ml(-15);
    }
    .mobilePickoneLogo{
        text-decoration: none;
        height: 50px;
        display: block;
        background-image: url(../images/logoWhite.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #F08646;
        .background-size(120px);
        transition: background-color 1s, background-image 1s, width 0.3s;
        em{
            display: none;
        }
    }
}